#header {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

#list {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left:50px
}


#list li {
    flex-direction: column;
    list-style-type: none;
    font-family: Verdana;
}

#list li button {
    margin: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-family: Verdana;
}


#list li button:hover{
    background-color:red;
    color:white;
}